/* Default styles for the menu */
.hometd:hover {
    background-color: rgb(26, 139, 16);
  }
  
.hometd {
    border-radius: 15%;
    display: inline-block;
  }
  .hometdd {
    position: relative;
    margin-left:1%;
    float: right;
    border-radius: 50%;
    display: inline-block;
  }
nav {
   
    color: white;
    padding:auto;
    column-rule-width: 50%;
    font-size:larger;
  }
  h6 {
   
    color: #bfebbfee;
    padding:auto;}
    h1 {
   
      color: #101110fa;
      padding:auto;
   
  }
  .available {
   
    color: #88e7e7;
    padding:auto;
    column-rule-width: 50%;
    font-size:larger;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 10;
  }
  
  nav li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  nav a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Media query for small screens */
  @media only screen and (max-width: 600px) {
    /* Change menu to vertical layout */
    nav ul {
      display: flex;
      flex-direction: column;
    }
    
    nav li {
      display: block;
      margin: 0.5rem 0;
    }
  }
  body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 0px solid #4b15c9;
    padding: 20px;
  }
  