@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-login {
  @apply  flex justify-center hover:bg-green-600 bg-blue-500 text-white font-bold py-0 w-auto px-4 rounded pl-4;
}
table{
@apply border border-black
}
th{
  @apply border border-black
  }
  td{
    @apply border border-black
    }
input{
  @apply  px-4 py-2 rounded-md border-gray-300 focus:outline-none focus:border-blue-500;
}
.loginbox {
  @apply bg-blue-300 rounded-lg p-4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #4b15c9;
  padding: 20px;
  align-items: center;
  width: auto;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.restbox {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
border: 1px solid #4b15c9;
padding: 20px;
align-items: center;
width: auto;
background-color: rgb(49, 104, 104);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
input{
  width:300px;
  height: 30px;
}
.signupbox{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #4b15c9;
  padding: 20px;
  font-size: large;
  align-items: center;
  width: 300px;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.requestbox{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #4b15c9;
  padding: 20px;
  font-size: large;
  align-items: center;
  width: 300px;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.container {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @apply bg-blue-200;
}

.column {
  width:100%;
  height: 100%;
 
 flex: 1;
  overflow: auto;
  @apply justify-center;
}
.dash{
  @apply bg-blue-300;
}
th{
  background-color: blue;
  color:white;
}
.column1 {
  width: auto;
  
  height: 100%;
  display: flex;
  justify-content: flex-end;
  @apply bg-blue-300;
}

.separator {
  overflow: auto;
  width: 5px;
  height: 100%;
  background-color: #000;
}
.usermenu {

  position: relative;
  height:100%;
  margin-right:0px;
  
  
}
li{
  @apply text-black text-2xl font-bold  hover:bg-blue-700;
}

.error-message {
  color: red;
}

.error {
  color: red;
}

.add_department {
  display: flex;
  justify-content: flex-end;
}

  
.success-message {
  color: green;
}

.error-message {
  color: red;
}
li{
  @apply text-green-800 hover:bg-black  hover:text-white pl-4;
}

 
